/* line 3, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
body {
  margin: 0;
  line-height: 1.6;
  font-size: 88%;
  font-family: Helvetica, Arial, Meiryo, sans-serif;
  color: #333333; }

/* line 10, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
a {
  text-decoration: none;
  color: #006f8e; }

/* line 14, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
a:hover {
  text-decoration: underline;
  color: #003e50; }

/* line 18, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
img {
  height: auto;
  max-width: 100%;
  border: 0; }

/* line 23, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
#header {
  margin-bottom: 3em;
  padding: 40px 0;
  background: url(../img/poly.png) no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center; }

/* line 32, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
#logo {
  display: block;
  line-height: 0;
  margin: 0; }
  /* line 36, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  #logo img {
    display: block;
    max-height: 21px;
    width: auto;
    line-height: 0;
    margin: 0 auto; }

/* line 43, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
[role="main"] {
  display: block;
  margin: 0 1em 3em 1em; }

/* line 47, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.posts {
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 51, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .posts li {
    margin: 3em 0; }
  /* line 53, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .posts a {
    line-height: 1.3;
    font-size: 1.2em;
    color: #333333; }
    /* line 57, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
    .posts a:hover {
      text-decoration: underline; }

/* line 60, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.meta {
  margin-top: 5px;
  color: #9eabb3;
  font-size: 0.9em; }
  /* line 64, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .meta a {
    border-bottom: 1px dotted #9eabb3;
    color: #9eabb3; }

/* line 68, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
article h1, h2, h3, h4, h5 {
  line-height: 1.3;
  margin: 2.4em 0 0.5em;
  color: #222222; }

/* line 73, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
article h1 {
  margin: 0;
  font-size: 1.8em; }

/* line 77, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f8f8f8;
  border: 1px solid #d9ddda;
  overflow: auto;
  padding: 0.6em 1em;
  border-radius: 3px; }

/* line 86, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
code {
  font-size: 92%;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

/* line 91, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
p > code, li > code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap; }

/* line 99, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
figure {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 1px solid #d9ddda;
  font-size: 87%; }
  /* line 104, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  figure > blockquote {
    margin: 0; }

/* line 107, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
cite {
  font-style: normal; }

/* line 110, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
figcaption {
  color: #aba9a4; }

/* line 113, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.entry {
  margin: 2.4em 0; }
  /* line 115, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .entry a {
    text-decoration: underline; }
  /* line 117, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .entry ul {
    padding-left: 20px; }
    /* line 119, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
    .entry ul ul {
      margin-bottom: 1em; }

/* line 122, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.pager {
  overflow: hidden;
  padding: 0;
  list-style: none; }
  /* line 126, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .pager a {
    display: inline-block;
    line-height: 1;
    padding: 7px 10px;
    border: 1px solid #0886ce;
    border-radius: 4px; }
    /* line 132, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
    .pager a:hover {
      background: #0886ce;
      color: white;
      text-decoration: none; }

/* line 138, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.pager .newer {
  float: right; }
/* line 140, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.pager .older {
  float: left; }

/* line 143, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.post-pager {
  margin-bottom: 9em;
  padding-top: 2em;
  padding-left: 20px;
  border-top: 1px dotted #cccccc; }

/* line 150, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.share ul {
  padding: 0; }
/* line 152, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
.share li {
  display: inline-block;
  margin-right: 1em; }

@media screen and (min-width: 481px) {
  /* line 157, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  #header {
    padding: 100px 0; }

  /* line 160, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  #logo img {
    max-height: 31px; }

  /* line 163, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  [role="main"] {
    margin-right: 2em;
    margin-left: 2em; }

  /* line 167, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  figure {
    padding-left: 40px; }

  /* line 170, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  .entry ul {
    padding-left: 40px; } }
@media screen and (min-width: 769px) {
  /* line 174, c:/Users/H001022/Dropbox/konitter.github.io/source/css/style.css.sass */
  [role="main"] {
    width: 80%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto; } }
