@charset "utf-8";

body {
  margin: 0;
  padding: 40px;
  background: #fff;
}

h1 {
  line-height: 1.4;
  margin: 55px 0 34px;
  padding-bottom: 18px;
  color: black;
  font-family: Osaka, Arial, Helvetica, Sans-serif;
  font-size: 21px;
  font-weight: normal;
  border-bottom: 1px dotted #ddd;
}

#wrapper {
  position: relative;
  float: left;
  margin-right: 50px;
}

/* btn
-------------------------------------------------------- */

#sleepbtn {
  position: relative;
  top: 0;
  left: 151px;
  width: 40px;
  height: 1px;
  border-top: 1px solid #71716f;
  border-right: 1px solid #979392;
  border-bottom: 1px solid #7e7c7d;
  border-left: 1px solid #a09f9b;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(179,175,172)),
    color-stop(0.11, rgb(255,255,255)),
    color-stop(0.25, rgb(175,174,172)),
    color-stop(0.35, rgb(178,174,173)),
    color-stop(0.77, rgb(202,201,199)),
    color-stop(0.92, rgb(255,255,255)),
    color-stop(1, rgb(184,180,177))
  );
  background: -moz-linear-gradient(
    left center,
    rgb(179,175,172) 0%,
    rgb(255,255,255) 11%,
    rgb(175,174,172) 25%,
    rgb(178,174,173) 35%,
    rgb(202,201,199) 77%,
    rgb(255,255,255) 92%,
    rgb(184,180,177) 100%
  )
}

#silentswitch {
  position: absolute;
  top: 48px;
  left: 0;
  width: 3px;
  height: 24px;
  border-top: 1px solid #303030;
  border-right: 1px solid #595554;
  border-bottom: 1px solid #535152;
  border-left: 1px solid #312d2a;
  -webkit-border-top-left-radius: 1px;
  -webkit-border-bottom-left-radius: 1px;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-bottomleft: 1px;
  background: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, rgb(179,175,172)),
    color-stop(0.12, rgb(255,255,255)),
    color-stop(0.38, rgb(89,85,82)),
    color-stop(0.37, rgb(104,100,97)),
    color-stop(0.83, rgb(255,255,255)),
    color-stop(0.98, rgb(91,87,84)),
    color-stop(0.98, rgb(63,59,56))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(179,175,172) 0%,
    rgb(255,255,255) 12%,
    rgb(89,85,82) 38%,
    rgb(104,100,97) 37%,
    rgb(255,255,255) 83%,
    rgb(91,87,84) 98%,
    rgb(63,59,56) 98%
  )
}

#volumeplus,#volumeminus {
  position: absolute;
  top: 100px;
  left: 0;
  width: 3px;
  height: 19px;
  border-top: 1px solid #303030;
  border-right: 1px solid #595554;
  border-bottom: 1px solid #535152;
  border-left: 1px solid #312d2a;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  background: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, rgb(179,175,172)),
    color-stop(0.12, rgb(255,255,255)),
    color-stop(0.37, rgb(104,100,97)),
    color-stop(0.83, rgb(255,255,255)),
    color-stop(0.98, rgb(91,87,84)),
    color-stop(0.98, rgb(63,59,56))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(179,175,172) 0%,
    rgb(255,255,255) 12%,
    rgb(104,100,97) 37%,
    rgb(255,255,255) 83%,
    rgb(91,87,84) 98%,
    rgb(63,59,56) 98%
  );
}

#volumeminus {
  top: 144px;
}

/* iphone4
-------------------------------------------------------- */

#iphone4 {
  position: relative;
  left: 3px;
  z-index: 10;
  width: 252px;
  height: 500px;
  overflow: hidden;
  border: 2px solid #4b4b4b;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0, rgba(153,153,153,0)),
    color-stop(1, rgba(200,200,198,0.9))
  );
  background: -moz-linear-gradient(
    left bottom,
    rgba(153,153,153,0) 0%,
    rgba(200,200,198,0.9) 100%
  );
  -webkit-box-shadow: 3px 3px 3px rgba(50,50,52,0.3);
  -moz-box-shadow: 3px 3px 3px rgba(50,50,52,0.3);
  box-shadow: 3px 3px 3px rgba(50,50,52,0.3);
}

  #iphone4:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    z-index: -1;
    background: #000;
    border: 2px solid #020100;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
  }

  #iphone4:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    z-index: -1;
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(0, rgba(153,153,153,0)),
      color-stop(1, rgba(0,0,0,0.9))
    );
    background: -moz-linear-gradient(
      left bottom,
      rgba(153,153,153,0) 0%,
      rgba(0,0,0,0.9) 100%
    );
    border: 2px solid #3e3e3e;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
  }

#insetray {
  position: absolute;
  top: 7px;
  right: 6px;
  width: 0;
  height: 0;
  border-top: solid 385px rgba(255,255,255,0.1);
  border-bottom: 0;
  border-left: solid 127px transparent;
  border-right: 0;
  z-index: 8;
}

/* camera
-------------------------------------------------------- */

#camera {
  position: absolute;
  top: 39px;
  left: 78px;
  width: 10px;
  height: 10px;
  border: 1px solid #303435;
  background: -webkit-gradient(linear, left top, right top, from(#1b1b1b), to(#3e3f41));
  background: -moz-linear-gradient(top, #1b1b1b, #3e3f41);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

  #camera #lens {
    position: relative;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    background: -webkit-gradient(linear, left top, right bottom, from(#44528f), to(#323374));
    background: -moz-linear-gradient(left, #44528f, #323374);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

    #camera #lensInr {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 2px;
      height: 2px;
      background: #0c1427;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
    }

  #camera #ray1 {
    position: absolute;
    top: 1px;
    left: 4px;
    width: 1px;
    height: 1px;
    background: #1965ad;
  }

  #camera #ray2 {
    position: absolute;
    top: 3px;
    left: 1px;
    width: 1px;
    height: 2px;
    background: #1965ad;
  }

/* speaker
-------------------------------------------------------- */

#earspeaker {
  position: absolute;
  top: 39px;
  left: 103px;
  width: 48px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#1a1a1a));
  background: -moz-linear-gradient(left, #111111, #1a1a1a);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

  #earspeakerInr {
    position: relative;
    top: 3px;
    left: 2px;
    width: 44px;
    height: 6px;
    background: url(earspeaker.gif);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

/* screen
-------------------------------------------------------- */

#screen {
  position: absolute;
  top: 87px;
  left: 18px;
  overflow: hidden;
  width: 216px;
  height: 322px;
  background: url(wp.png) no-repeat;
}

/* bar
-------------------------------------------------------- */

#bar {
  position: relative;
  width: 216px;
  height: 14px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
}

  #barAntenna {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 7px;
  }

    #barAntenna:after {
      clear: both;
    }

    #antenna1 {
      float: left;
      margin-top: 5px;
      width: 2px;
      height: 2px;
      background: #fff;
    }
    #antenna2 {
      float: left;
      margin: 4px 0 0 1px;
      width: 2px;
      height: 3px;
      background: #fff;
    }
    #antenna3 {
      float: left;
      margin: 3px 0 0 1px;
      width: 2px;
      height: 4px;
      background: #fff;
    }
    #antenna4 {
      float: left;
      margin: 2px 0 0 1px;
      width: 2px;
      height: 5px;
      background: #fff;
    }
    #antenna5 {
      float: left;
      margin: 1px 0 0 1px;
      width: 2px;
      height: 6px;
      background: #fff;
    }

  #barLinetype {
    position: absolute;
    top: 0;
    left: 20px;
    height: 14px;
    line-height: 14px;
  }

  #barTime {
    position: absolute;
    top: 0;
    width: 216px;
    height: 14px;
    line-height: 14px;
    text-align: center;
  }

  #barBattery {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 7px;
  }

    #barBatteryBody {
      float: left;
      width: 9px;
      height: 3px;
      padding: 1px;
      border: 1px solid #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

      #barBatteryBodyInr {
        width: 9px;
        height: 3px;
        background: #fff;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
      }

  #barBatteryHead {
    float: right;
    width: 1px;
    height: 1px;
    margin-top: 2px;
    border: 1px solid #fff;
    border-width: 1px 1px 1px 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }

/* icon
-------------------------------------------------------- */

.appArea {
  padding: 9px 0 0 12px;
  width: 216px;
}

.app {
  float: left;
  width: 38px;
  margin: 0 13px 9px 0;
}

  .appIcon {
    width: 38px;
    height: 38px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px #666;
    -moz-box-shadow: 0px 1px 2px #666;
    box-shadow: 0px 1px 2px #666;
  }

  .appName {
    margin-top: 3px;
    color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8px;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
  }

/* icon - messages */

#messages {
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(13,115,22)),
    color-stop(1, rgb(104,188,49))
  );
  background: -moz-linear-gradient(
    center top,
    rgb(13,115,22) 0%,
    rgb(104,188,49) 100%
  );
}

  #messages #lines {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 7px;
    right: 13px;
    width: 38px;
    height: 38px;
    opacity: 0.6;
  }

    #messages #lines div {
      position: absolute;
      width: 1px;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, transparent),
        color-stop(0.2, rgba(13,115,22,1)),
        color-stop(0.8, rgba(13,115,22,1)),
        color-stop(1, transparent)
      );
      background: -moz-linear-gradient(
        center top,
        transparent 0%,
        rgba(15,83,0,0.4) 40%,
        rgba(15,83,0,0.4) 80%,
        transparent 100%
      );
      -webkit-box-shadow: 0 1px 1px #105716;
      -moz-box-shadow: 0 1px 1px #105716;
      box-shadow: 0 1px 1px #105716;
    }

    #messages #lines #line1 {
      height: 9px;
    }
    #messages #lines #line2 {
      height: 11px;
      top: -1px;
      left: 2px;
    }
    #messages #lines #line3 {
      height: 18px;
      top: -4px;
      left: 5px;
    }
    #messages #lines #line4 {
      height: 23px;
      top: -7px;
      left: 8px;
    }
    #messages #lines #line5 {
      height: 28px;
      top: -10px;
      left: 11px;
    }
    #messages #lines #line6 {
      height: 36px;
      top: -13px;
      left: 14px;
    }
    #messages #lines #line7 {
      height: 42px;
      top: -16px;
      left: 17px;
    }
    #messages #lines #line8 {
      height: 46px;
      top: -18px;
      left: 20px;
    }
    #messages #lines #line9 {
      height: 47px;
      top: -18px;
      left: 23px;
    }
    #messages #lines #line10 {
      height: 43px;
      top: -17px;
      left: 26px;
    }
    #messages #lines #line11 {
      height: 37px;
      top: -14px;
      left: 30px;
    }
    #messages #lines #line12 {
      height: 32px;
      top: -11px;
      left: 33px;
    }
    #messages #lines #line13 {
      height: 26px;
      top: -8px;
      left: 36px;
    }
    #messages #lines #line14 {
      height: 20px;
      top: -5px;
      left: 39px;
    }
    #messages #lines #line15 {
      height: 14px;
      top: -2px;
      left: 42px;
    }
    #messages #lines #line16 {
      height: 8px;
      top: 1px;
      left: 45px;
    }

  #messages #glassTop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 38px;
    height: 19px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(205,222,151,0.5)),
      color-stop(1, rgba(255,255,255,0.1))
    );
    background: -moz-linear-gradient(
      center top,
      rgba(205,222,151,0.5) 0%,
      rgba(255,255,255,0.1) 100%
    );
    border-top: 1px solid rgba(205,222,151,0.5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 15px 4px;
    -webkit-border-bottom-right-radius: 15px 4px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 15px 4px;
    -moz-border-radius-bottomright: 15px 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px 4px;
    border-bottom-right-radius: 15px 4px;
  }

  #messages #glassBtm {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 38px;
    height: 15px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(108,188,55,0)),
      color-stop(1, rgba(108,188,55,0.6))
    );
    background: -moz-linear-gradient(
      center top,
      rgba(108,188,55,0) 0%,
      rgba(108,188,55,0.6) 100%
    );
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #messages #balloon {
    position: absolute;
    top: 8px;
    left: 6px;
    z-index: 4;
    width: 25px;
    height: 20px;
    border: 1px solid #fcf7ff;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(246,248,253)),
      color-stop(0.5, rgb(220,233,242)),
      color-stop(0.6, rgb(202,220,233)),
      color-stop(1, rgb(221,238,243))
    );
    background: -moz-linear-gradient(
      center top,
      rgb(246,248,253) 0%,
      rgb(220,233,242) 50%,
      rgb(202,220,233) 60%,
      rgb(221,238,243) 100%
    );
    -webkit-border-top-left-radius: 13px 11px;
    -webkit-border-top-right-radius: 13px 11px;
    -webkit-border-bottom-left-radius: 13px 11px;
    -webkit-border-bottom-right-radius: 13px 11px;
    -moz-border-radius-topleft: 13px 11px;
    -moz-border-radius-topright: 13px 11px;
    -moz-border-radius-bottomleft: 13px 11px;
    -moz-border-radius-bottomright: 13px 11px;
    border-top-left-radius: 13px 11px;
    border-top-right-radius: 13px 11px;
    border-bottom-left-radius: 13px 11px;
    border-bottom-right-radius: 13px 11px;
  }

  #messages #balloonItem {
    position: absolute;
    top: 28px;
    left: 11px;
    z-index: 2;
    width: 7px;
    height: 5px;
    background: url(msg.png) no-repeat;
  }

/* icon - calender */

#calender {
  background: #9b2424;
}

  #calender #header {
    width: 38px;
    height: 10px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#eec4c4),
      color-stop(0.1, #ef9fa5),
      color-stop(0.92, #da3434),
      to(#521b1c)
    );
    background: -moz-linear-gradient(
      center top,
      #eec4c4 0%,
      #ef9fa5 10%,
      #da3434 92%,
      #521b1c 100%
    );
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0px 2px 1px inset;
    -moz-box-shadow: rgba(255,255,255,0.4) 0px 2px 1px inset;
    box-shadow: rgba(255,255,255,0.4) 0px 2px 1px inset;
  }

    #calender #header #weekday {
      color: #fff;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 7px;
      font-weight: bold;
      line-height: 10px;
      text-align: center;
      text-shadow: rgba(0,0,0,0.7) 0px 1px 1px;
      width: 38px;
    }

  #calender #paper {
    width: 38px;
    height: 28px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#7a7a7a),
      color-stop(0.05, #bfbfbf),
      color-stop(0.2, #e3e3e3),
      to(#ededed)
    );
    background: -moz-linear-gradient(
      center top,
      #7a7a7a 0%,
      #bfbfbf 5%,
      #e3e3e3 20%,
      #ededed 100%
    );
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

    #calender #paper #day {
      width: 38px;
      color: #000;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 28px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      text-shadow: white 0px 1px 0px;
    }

/* icon - photos */

#photos {
  background: url(photo.png) no-repeat;
}

/* icon - cameraapp */

#cameraapp {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#adaeb1));
  background: -moz-linear-gradient(center top, #fff, #adaeb1);
}

  #cameraapp #lens {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 26px;
    height: 26px;
    background: -webkit-gradient(linear, left top, left bottom, from(#494748), to(#6a6869));
    background: -moz-linear-gradient(center top, #494748, #6a6869);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
  }

    #cameraapp #lens #lensInr {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 18px;
      height: 18px;
      background: -webkit-gradient(linear, left top, left bottom, from(#7d7b7c), to(#6a6263));
      background: -moz-linear-gradient(center top, #7d7b7c, #6a6263);
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
    }

      #cameraapp #lens #lensInr #lensBlue {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        background: url(lens.png) no-repeat;
      }

/* icon - youtube */

#youtube {
  width: 34px;
  height: 34px;
  background: -webkit-gradient(linear, left top, left bottom, from(#79532F), to(#8C6546));
  background: -moz-linear-gradient(center top, #79532F, #8C6546);
  border: 2px solid #a67b63;
}

  #tv {
    position: relative;
    width: 34px;
    height: 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCB376), to(#F8ECCE));
    background: -moz-linear-gradient(center top, #CCB376, #F8ECCE);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #2F2917 0px -1px 1px;
    -moz-box-shadow: #2F2917 0px -1px 1px;
    box-shadow: #2F2917 0px -1px 1px;
  }

    #displayBdr {
      position: relative;
      top: 1px;
      left: 2px;
      width: 29px;
      height: 25px;
      padding: 1px;
      background: -webkit-gradient(linear, left top, left bottom, from(#5A5F5A), to(#70805B));
      background: -moz-linear-gradient(center top, #5A5F5A, #70805B);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: white 0px 1px 1px;
      -moz-box-shadow: white 0px 1px 1px;
      box-shadow: white 0px 1px 1px;
    }

      #displayInr {
        width: 29px;
        height: 25px;
        margin: auto;
        background: -webkit-gradient(linear, left top, left bottom, from(#636C52), to(#8E9D74));
        background: -moz-linear-gradient(center top, #636C52, #8E9D74);
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
      }

        #displayGloss {
          height: 14px;
          background: -webkit-gradient(linear, left top, left bottom, from(#D8DCD5), to(#9CA491));
          background: -moz-linear-gradient(center top, #D8DCD5, #9CA491);
          -webkit-border-top-left-radius: 7px;
          -webkit-border-top-right-radius: 7px;
          -webkit-border-bottom-left-radius: 14px 3px;
          -webkit-border-bottom-right-radius: 14px 3px;
          -moz-border-radius-topleft: 7px;
          -moz-border-radius-topright: 7px;
          -moz-border-radius-bottomleft: 14px 3px;
          -moz-border-radius-bottomright: 14px 3px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          border-bottom-left-radius: 14px 3px;
          border-bottom-right-radius: 14px 3px;
        }

    #knobLeft {
      position: absolute;
      bottom: 1px;
      left: 2px;
      width: 3px;
      height: 3px;
      background: -webkit-gradient(linear, left top, left bottom, from(#4A3D42), to(#130F10));
      background: -moz-linear-gradient(center top, #4A3D42, #130F10);
      border: 1px solid #2B2326;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: #655657 0px 2px 0px inset;
      -moz-box-shadow: #655657 0px 2px 0px inset;
      box-shadow: #655657 0px 2px 0px inset;
    }

    #knobRight {
      position: absolute;
      right: 2px;
      bottom: 1px;
      width: 3px;
      height: 3px;
      background: -webkit-gradient(linear, left top, left bottom, from(#4A3D42), to(#130F10));
      background: -moz-linear-gradient(center top, #4A3D42, #130F10);
      border: 1px solid #2B2326;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: #655657 0px 1px 0px inset;
      -moz-box-shadow: #655657 0px 1px 0px inset;
      box-shadow: #655657 0px 1px 0px inset;
    }

      #knobHandle {
        position: relative;
        top: 0;
        left: 0;
        width: 3px;
        height: 3px;
        background: -webkit-gradient(linear, left top, left bottom, from(#80553A), to(#7D4D36));
        background: -moz-linear-gradient(center top, #80553A, #7D4D36);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: #A38569 0px 1px 0px inset;
        -moz-box-shadow: #A38569 0px 1px 0px inset;
        box-shadow: #A38569 0px 1px 0px inset;
      }

        #knobHandleInr {
          position: relative;
          top: 1px;
          left: 1px;
          width: 1px;
          height: 1px;
          background: #98a55a;
        }

    #speakerGrill {
      position: relative;
      top: 3px;
      left: 12px;
      width: 10px;
      height: 3px;
    }

      #slit1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1px;
        height: 1px;
        background: #b0a892;
        border-top: 1px solid #fdeecd;
        border-bottom: 1px solid #eee5cd;
      }

      #slit2 {
        position: absolute;
        top: 0px;
        left: 1px;
        width: 1px;
        height: 1px;
        background: #9a9583;
        border-top: 1px solid #eee0c2;
        border-bottom: 1px solid #d4d2b6;
      }

      #slit3 {
        position: absolute;
        top: 0px;
        left: 2px;
        width: 1px;
        height: 1px;
        background: #90897e;
        border-top: 1px solid #dcd1b3;
        border-bottom: 1px solid #c3bca8;
      }

      #slit4 {
        position: absolute;
        top: 0px;
        left: 3px;
        width: 1px;
        height: 1px;
        background: #969185;
        border-top: 1px solid #cbc2a8;
        border-bottom: 1px solid #b5af9e;
      }

      #slit5 {
        position: absolute;
        top: 0px;
        left: 4px;
        width: 1px;
        height: 1px;
        background: #9f9c8f;
        border-top: 1px solid #ada48e;
        border-bottom: 1px solid #a4a08c;
      }

      #slit6 {
        position: absolute;
        top: 0px;
        left: 5px;
        width: 1px;
        height: 1px;
        background: #969185;
        border-top: 1px solid #cbc2a8;
        border-bottom: 1px solid #b5af9e;
      }

      #slit7 {
        position: absolute;
        top: 0px;
        left: 6px;
        width: 1px;
        height: 1px;
        background: #90897e;
        border-top: 1px solid #dcd1b3;
        border-bottom: 1px solid #c3bca8;
      }

      #slit8 {
        position: absolute;
        top: 0px;
        left: 7px;
        width: 1px;
        height: 1px;
        background: #9a9583;
        border-top: 1px solid #eee0c2;
        border-bottom: 1px solid #d4d2b6;
      }

      #slit9 {
        position: absolute;
        top: 0px;
        left: 8px;
        width: 1px;
        height: 1px;
        background: #b0a892;
        border-top: 1px solid #fdeecd;
        border-bottom: 1px solid #eee5cd;
      }

/* icon - stocks */

#stocks {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.39, #0059a7), to(#00b6e2));
  background: -moz-linear-gradient(center top, #0059a7, #00b6e2);
}

  #stocks #glassTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#abd3f2), to(#107bbb));
    background: -moz-linear-gradient(center top, #abd3f2, #107bbb);
    border-top: 1px solid #cde7fa;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 15px 4px;
    -webkit-border-bottom-right-radius: 15px 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 15px 4px;
    -moz-border-radius-bottomright: 15px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 15px 4px;
    border-bottom-right-radius: 15px 4px;
  }

  #stocks #line1 {
    position: absolute;
    top: 0;
    left: 12px;
    width: 1px;
    height: 38px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(195,226,247,0.5)), to(rgba(53,193,221,0.5)));
    background: -moz-linear-gradient(center top, rgba(195,226,247,0.5), rgba(53,193,221,0.5));
  }

  #stocks #line2 {
    position: absolute;
    top: 0;
    left: 27px;
    width: 1px;
    height: 38px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(195,226,247,0.5)), to(rgba(53,193,221,0.5)));
    background: -moz-linear-gradient(center top, rgba(195,226,247,0.5), rgba(53,193,221,0.5));
  }

  #stocks #graph {
    position: absolute;
    top: 9px;
    left: 0px;
    z-index: 5;
    width: 38px;
    height: 19px;
    background: url(stocks.png) no-repeat;
  }

/* icon - maps */

#maps {
  background: url(maps.png) no-repeat;
}

/* icon - weather */

#weather {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.39, #4c9bd5), to(#8bd4e7));
  background: -moz-linear-gradient(center top, #4c9bd5 39%, #8bd4e7);
}

  #weather #glassTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3e5f8), to(#65bcec));
    background: -moz-linear-gradient(center top, #c3e5f8, #65bcec);
    border-top: 1px solid #cde7fa;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 15px 4px;
    -webkit-border-bottom-right-radius: 15px 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 15px 4px;
    -moz-border-radius-bottomright: 15px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 15px 4px;
    border-bottom-right-radius: 15px 4px;
  }

  #weather #sun {
    position: absolute;
    top: 4px;
    left: 10px;
    z-index: 3;
    width: 19px;
    height: 19px;
  }

    #weather #sunShadow {
      position: relative;
      z-index: 1;
      width: 19px;
      height: 19px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: #b08400 0px 0px 3px;
      -moz-box-shadow: #b08400 0px 0px 3px;
      box-shadow: #b08400 0px 0px 3px;
    }

    #weather #sunBody {
      z-index: 3;
      width: 19px;
      height: 19px;
      background: -webkit-gradient(linear, left top, left bottom, from(#f87c01), to(#ffef1e));
      background: -moz-linear-gradient(center top, #f87c01, #ffef1e);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: #b08400 0px 0px 3px;
      -moz-box-shadow: #b08400 0px 0px 3px;
      box-shadow: #b08400 0px 0px 3px;
    }

      #weather #sunBody #sunHighlight {
        width: 17px;
        height: 17px;
        margin: 1px auto 0px;
        background: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: white 0px 2px 2px inset;
        -moz-box-shadow: white 0px 2px 2px inset;
        box-shadow: white 0px 2px 2px inset;
      }

      #weather #sunBody #sunGlow {
        position: relative;
        top: -17px;
        width: 19px;
        height: 19px;
        background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0)));
        background: -moz-linear-gradient(center top, rgba(255,255,255,0.7), rgba(255,255,255,0));
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: #ffef1e 0px 0px 5px inset;
        -moz-box-shadow: #ffef1e 0px 0px 5px inset;
        box-shadow: #ffef1e 0px 0px 5px inset;
      }

  #weather #rays {
    z-index: 2;
    position: relative;
    top: 0;
    left: 6px;
  }

    #weather #rays div {
      position: absolute;
      top: 0;
      left: 12px;
      width: 1px;
      height: 30px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,197,23,0)), color-stop(0.4, #FFC517), color-stop(0.6, #FFC517), to(rgba(255,197,23,0)));
      background: -moz-linear-gradient(center top, rgba(255,197,23,0) 0%, #FFC517 40%, #FFC517 60%, rgba(255,197,23,0) 100%);
    }

    #weather #rays #ray1 {
      -webkit-transform: rotate(24deg);
    	-moz-transform: rotate(24deg);
    	transform: rotate(24deg);
    }

    #weather #rays #ray2 {
      -webkit-transform: rotate(48deg);
      -moz-transform: rotate(48deg);
    	transform: rotate(48deg);
    }

    #weather #rays #ray3 {
      -webkit-transform: rotate(32deg);
      -moz-transform: rotate(32deg);
    	transform: rotate(32deg);
    }

    #weather #rays #ray4 {
      -webkit-transform: rotate(116deg);
      -moz-transform: rotate(116deg);
    	transform: rotate(116deg);
    }

    #weather #rays #ray5 {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
    	transform: rotate(120deg);
    }

    #weather #rays #ray6 {
      -webkit-transform: rotate(144deg);
      -moz-transform: rotate(144deg);
    	transform: rotate(144deg);
    }

    #weather #rays #ray7 {
      -webkit-transform: rotate(158deg);
      -moz-transform: rotate(158deg);
    	transform: rotate(158deg);
    }

    #weather #rays #ray8 {
      -webkit-transform: rotate(192deg);
      -moz-transform: rotate(192deg);
    	transform: rotate(192deg);
    }

    #weather #rays #ray9 {
      -webkit-transform: rotate(216deg);
      -moz-transform: rotate(216deg);
    	transform: rotate(216deg);
    }

    #weather #rays #ray10 {
      -webkit-transform: rotate(240deg);
      -moz-transform: rotate(240deg);
    	transform: rotate(240deg);
    }

    #weather #rays #ray11 {
      -webkit-transform: rotate(264deg);
      -moz-transform: rotate(264deg);
    	transform: rotate(264deg);
    }

    #weather #rays #ray12 {
      -webkit-transform: rotate(218deg);
      -moz-transform: rotate(218deg);
    	transform: rotate(218deg);
    }

    #weather #rays #ray13 {
      -webkit-transform: rotate(312deg);
      -moz-transform: rotate(312deg);
    	transform: rotate(312deg);
    }

    #weather #rays #ray14 {
      -webkit-transform: rotate(336deg);
      -moz-transform: rotate(336deg);
    	transform: rotate(336deg);
    }

    #weather #rays #ray15 {
      -webkit-transform: rotate(345deg);
      -moz-transform: rotate(345deg);
    	transform: rotate(345deg);
    }

  #weather #temperature {
    position: absolute;
    top: 26px;
    left: 13px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.3) 0px 1px 1px;
  }

/* icon - notes */

#notes {
  background: #432e25;
}

  #notes #notesHeader {
    width: 38px;
    height: 11px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B28B78), color-stop(0.1, #835A4D), color-stop(0.92, #432E25), to(#190A07));
    background: -moz-linear-gradient(center top, #B28B78 0%, #835A4D 10%, #432E25 92%, #190A07 100%);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.2) 0px 2px 1px inset;
    -moz-box-shadow: rgba(255,255,255,0.2) 0px 2px 1px inset;
    box-shadow: rgba(255,255,255,0.2) 0px 2px 1px inset;
  }

  #notes #notesPaper {
    width: 38px;
    height: 25px;
    padding-top: 2px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#78745C), color-stop(0.02, #BCB98C), color-stop(0.08, #FEF9BE), to(#F9F4B7));
    background: -moz-linear-gradient(center top, #78745C 0%, #BCB98C 2%, #FEF9BE 8%, #F9F4B7 100%);
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

    #notes #notesPaper .line {
      width: 38px;
      height: 3px;
      border-bottom: 1px solid rgba(1,52,193,0.1);
    }

    #notes #notesPaper #marginLine {
      position: relative;
      top: -22px;
      width: 1px;
      height: 27px;
      margin-left: 5px;
      border-left: 2px solid rgba(193,23,0,0.1);
    }

/* icon - utilities */

#utilities {
  background: url(util.png) no-repeat;
}

/* icon - itunes */

#itunes {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.39, #582071), to(#be87ab));
  background: -moz-linear-gradient(center top, #582071 39%, #be87ab);
}

  #itunes #glassTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbd2e0), to(#b885b8));
    background: -moz-linear-gradient(center top, #dbd2e0, #b885b8);
    border-top: 1px solid #eae7ec;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 15px 4px;
    -webkit-border-bottom-right-radius: 15px 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 15px 4px;
    -moz-border-radius-bottomright: 15px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 15px 4px;
    border-bottom-right-radius: 15px 4px;
  }

  .starburst {
    position: absolute;
    right: 19px;
    z-index: 1;
  }

    .starburst div {
      background: rgba(255,255,255,0.05);
      float: left;
      height: 48px;
      margin-right: -5px;
      margin-top: -4px;
      width: 1px;
    }

    .starburst .ray1 {
      -webkit-transform: rotate(24deg);
      -moz-transform: rotate(24deg);
      transform: rotate(24deg);
    }

    .starburst .ray2 {
      -webkit-transform: rotate(48deg);
      -moz-transform: rotate(48deg);
      transform: rotate(48deg);
    }

    .starburst .ray3 {
      -webkit-transform: rotate(32deg);
      -moz-transform: rotate(32deg);
      transform: rotate(32deg);
    }

    .starburst .ray4 {
      -webkit-transform: rotate(116deg);
      -moz-transform: rotate(116deg);
      transform: rotate(116deg);
    }

    .starburst .ray5 {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      transform: rotate(120deg);
    }

    .starburst .ray6 {
      -webkit-transform: rotate(144deg);
      -moz-transform: rotate(144deg);
      transform: rotate(144deg);
    }

    .starburst .ray7 {
      -webkit-transform: rotate(158deg);
      -moz-transform: rotate(158deg);
      transform: rotate(158deg);
    }

    .starburst .ray8 {
      -webkit-transform: rotate(192deg);
      -moz-transform: rotate(192deg);
      transform: rotate(192deg);
    }

    .starburst .ray9 {
      -webkit-transform: rotate(216deg);
      -moz-transform: rotate(216deg);
      transform: rotate(216deg);
    }

    .starburst .ray10 {
      -webkit-transform: rotate(240deg);
      -moz-transform: rotate(240deg);
      transform: rotate(240deg);
    }

    .starburst .ray11 {
      -webkit-transform: rotate(264deg);
      -moz-transform: rotate(264deg);
      transform: rotate(264deg);
    }

    .starburst .ray12 {
      -webkit-transform: rotate(218deg);
      -moz-transform: rotate(218deg);
      transform: rotate(218deg);
    }

    .starburst .ray13 {
      -webkit-transform: rotate(312deg);
      -moz-transform: rotate(312deg);
      transform: rotate(312deg);
    }

    .starburst .ray14 {
      -webkit-transform: rotate(336deg);
      -moz-transform: rotate(336deg);
      transform: rotate(336deg);
    }

    .starburst .ray15 {
      -webkit-transform: rotate(345deg);
      -moz-transform: rotate(345deg);
      transform: rotate(345deg);
    }

    .starburst .ray16 {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    .starburst .ray17 {
      -webkit-transform: rotate(40deg);
      -moz-transform: rotate(40deg);
      transform: rotate(40deg);
    }

    .starburst .ray18 {
      -webkit-transform: rotate(341deg);
      -moz-transform: rotate(341deg);
      transform: rotate(341deg);
    }

    .starburst .ray19 {
      -webkit-transform: rotate(31deg);
      -moz-transform: rotate(31deg);
      transform: rotate(31deg);
    }

    .starburst .ray20 {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      transform: rotate(60deg);
    }

    .starburst .ray21 {
      -webkit-transform: rotate(70deg);
      -moz-transform: rotate(70deg);
      transform: rotate(70deg);
    }

    .starburst .ray22 {
      -webkit-transform: rotate(80deg);
      -moz-transform: rotate(80deg);
      transform: rotate(80deg);
    }

    .starburst .ray23 {
      -webkit-transform: rotate(96deg);
      -moz-transform: rotate(96deg);
      transform: rotate(96deg);
    }

    .starburst .ray24 {
      -webkit-transform: rotate(21deg);
      -moz-transform: rotate(21deg);
      transform: rotate(21deg);
    }

    .starburst .ray25 {
      -webkit-transform: rotate(9deg);
      -moz-transform: rotate(9deg);
      transform: rotate(9deg);
    }

    .starburst .ray26 {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .starburst .ray27 {
      -webkit-transform: rotate(170deg);
      -moz-transform: rotate(170deg);
      transform: rotate(170deg);
    }

    .starburst .ray28 {
      -webkit-transform: rotate(168deg);
      -moz-transform: rotate(168deg);
      transform: rotate(168deg);
    }

    .starburst .ray29 {
      -webkit-transform: rotate(174deg);
      -moz-transform: rotate(174deg);
      transform: rotate(174deg);
    }

    .starburst .ray30 {
      -webkit-transform: rotate(450deg);
      -moz-transform: rotate(450deg);
      transform: rotate(450deg);
    }

  #itunes #circle {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2;
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: #98549e 0px 0px 2px;
    -moz-box-shadow: #98549e 0px 0px 2px;
    box-shadow: #98549e 0px 0px 2px;
  }

    #itunes #circle #noteTop {
      position: relative;
      top: 5px;
      left: 8px;
      z-index: 4;
      width: 8px;
      height: 3px;
      background: white;
      -webkit-transform: rotate(-6deg);
      -moz-transform: rotate(-6deg);
      transform: rotate(-6deg);
      -webkit-box-shadow: rgba(55,28,64,0.2) 0px -1px 1px;
      -moz-box-shadow: rgba(55,28,64,0.2) 0px -1px 1px;
      box-shadow: rgba(55,28,64,0.2) 0px -1px 1px;
    }

    #itunes #circle #noteLeg {
      position: relative;
      top: 0px;
      left: 8px;
    }

      #itunes #circle #noteLegLeft {
        position: absolute;
        top: 3px;
        width: 1px;
        height: 10px;
        background: white;
      }

      #itunes #circle #noteLegRight {
        position: absolute;
        top: 2px;
        left: 7px;
        width: 1px;
        height: 10px;
        background: white;
      }

    #itunes #circle #noteFoot {
      position: relative;
      top: 0px;
      left: 5px;
    }

      #itunes #circle #noteFootLeft {
        position: absolute;
        top: 12px;
        width: 4px;
        height: 3px;
        background: white;
        -webkit-border-radius: 14px 10px;
        -moz-border-radius: 14px 10px;
        border-radius: 14px 10px;
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        transform: rotate(-30deg);
      }

      #itunes #circle #noteFootRight {
        position: absolute;
        top: 11px;
        left: 7px;
        width: 4px;
        height: 3px;
        background: white;
        -webkit-border-radius: 14px 10px;
        -moz-border-radius: 14px 10px;
        border-radius: 14px 10px;
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        transform: rotate(-30deg);
      }

/* icon - appstore */

#appstore {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.39, #264595), to(#00bce1));
  background: -moz-linear-gradient(center top, #264595 39%, #00bce1);
}

  #appstore #glassTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d5ee), to(#78a4d7));
    background: -moz-linear-gradient(center top, #c7d5ee, #78a4d7);
    border-top: 1px solid #e9f1fa;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 15px 4px;
    -webkit-border-bottom-right-radius: 15px 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 15px 4px;
    -moz-border-radius-bottomright: 15px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 15px 4px;
    border-bottom-right-radius: 15px 4px;
  }

  #appstore #circle {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2;
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: #638ac6 0px 0px 2px;
    -moz-box-shadow: #638ac6 0px 0px 2px;
    box-shadow: #638ac6 0px 0px 2px;
  }

    #appstore #circle #line {
      position: relative;
      top: 10px;
      left: 4px;
      width: 16px;
      height: 3px;
      background: white;
      -webkit-box-shadow: #638ac6 0px 0px 2px;
      -moz-box-shadow: #638ac6 0px 0px 2px;
      box-shadow: #638ac6 0px 0px 2px;
    }

    #appstore #circle #partsLeft {
      position: relative;
      top: 8px;
      left: 2px;
      width: 12px;
      height: 1px;
      background: white;
      -webkit-box-shadow: #3c5fa7 0px 0px 2px;
      -moz-box-shadow: #3c5fa7 0px 0px 2px;
      box-shadow: #3c5fa7 0px 0px 2px;
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      transform: rotate(120deg);
    }

    #appstore #circle #partsRight {
      position: relative;
      top: 6px;
      left: 9px;
      width: 14px;
      height: 1px;
      background: white;
      -webkit-box-shadow: #3c5fa7 0px 0px 2px;
      -moz-box-shadow: #3c5fa7 0px 0px 2px;
      box-shadow: #3c5fa7 0px 0px 2px;
      -webkit-transform: rotate(-120deg);
      -moz-transform: rotate(-120deg);
      transform: rotate(-120deg);
    }

/* icon - settings */

#settings {
  background: url(setting.png) no-repeat;
}

/* pageNavi
-------------------------------------------------------- */

#pageNavi {
  position: relative;
  top: -3px;
  left: 87px;
}

  #pageNavi #searchIcon {
    position: absolute;
  }

    #pageNavi #searchIcon #iconBody {
      width: 3px;
      height: 3px;
      background: transparent;
      border: 1px solid #a5a5a7;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: #4b4f50 0px 0px 2px;
      -moz-box-shadow: #4b4f508 0px 0px 2px;
      box-shadow: #4b4f50 0px 0px 2px;
    }

    #pageNavi #searchIcon #iconItem {
      position: relative;
      top: -2px;
      left: 4px;
      width: 1px;
      height: 3px;
      background: #b7b5b6;
      border-left: 1px solid rgba(162,162,163,0.9);
      border-right: 1px solid rgba(162,162,163,0.9);
      border-bottom: 1px solid rgba(162,162,163,0.9);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

  #pageNavi #pageNate {
    position: absolute;
    top: 0px;
    left: 12px;
  }

    #pageNavi #pageNate .pageOn,
    #pageNavi #pageNate .pageOff {
      float: left;
      width: 5px;
      height: 5px;
      margin-right: 6px;
      background: white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: #4b4f50 0px 0px 2px;
      -moz-box-shadow: #4b4f508 0px 0px 2px;
      box-shadow: #4b4f50 0px 0px 2px;
    }

    #pageNavi #pageNate .pageOff {
      background: #a9aaac;
      -webkit-box-shadow: #4b4f50 0px 0px 1px;
      -moz-box-shadow: #4b4f508 0px 0px 1px;
      box-shadow: #4b4f50 0px 0px 1px;
    }

/* main app
-------------------------------------------------------- */

#appMain {
  position: relative;
  top: 33px;
  padding-top: 0;
  width: 204px;
  height: 31px;
}

  #appMain .app {
    margin-top: -23px;
    -webkit-box-reflect:
  	below -23px -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),
  	color-stop(0.4, rgba(0,0,0,0)),
  	to(rgba(0,0,0,0.5)));
  }

/* icon - phone */

#phone {
  background: url(phone.png) no-repeat;
}

/* icon - mail */

#mail {
  background: url(mail.png) no-repeat;
}

/* icon - safari */

#safari {
  background: url(safari.png) no-repeat;
}

/* icon - ipod */

#ipod {
  background: url(ipod.png) no-repeat;
}

/* homebtn
-------------------------------------------------------- */

#homebtn {
  position: absolute;
  top: 429px;
  left: 101px;
  width: 48px;
  height: 48px;
  border: 2px solid #383838;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background: #000;
}

  #homebtnInr {
    position: relative;
    width: 46px;
    height: 46px;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, rgba(98,98,98,0.5)),
      color-stop(1, rgb(0,0,0))
    );
    background: -moz-linear-gradient(
      left center,
      rgba(98,98,98,0.5) 0%,
      rgb(0,0,0) 100%
    );
    border: 1px solid #000;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
  }

    #homebtnMark {
      position: absolute;
      top: 14px;
      left: 14px;
      width: 14px;
      height: 14px;
      border: 2px solid #a1a1a1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

/* blackline
-------------------------------------------------------- */

#balckline1 {
  position: absolute;
  top: 0;
  left: 82px;
  width: 3px;
  height: 4px;
  background: #242424;
}

#balckline2 {
  position: absolute;
  top: 436px;
  left: 0;
  width: 3px;
  height: 4px;
  background: #242424;
}

#balckline3 {
  position: absolute;
  top: 436px;
  left: 249px;
  width: 3px;
  height: 4px;
  background: #242424;
}