- wrap_layout :layout do
	article
		header
			h1
				= current_article.title
			.meta
				==> time_tag current_article.date
				| - by
				a< href="/about/"
					= data.site.author
		.entry
			== yield
	aside.share
		ul
			li
				.fb-like data-send="false" data-layout="button_count" data-width="auto" data-show-faces="false"
				#fb-root
				javascript:
					(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=231858050163702";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
			li
				a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="konitter" data-lang="en" Tweet
				javascript:
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
	ul.post-pager
		- if prev_article = current_article.previous_article
			li
				| Older Entry:
				div
					== link_to prev_article.title, prev_article
		- if next_article = current_article.next_article
			li
				| Newer Entry:
				div
					== link_to next_article.title, next_article