@charset "utf-8";

body {
	margin: 0;
	line-height: 1.6;
	font-size: 88%;
	font-family: Helvetica,Arial,Meiryo,sans-serif;
	color: #333;
}

a {
	text-decoration: none;
	color: #006f8e;
}

a:hover {
	text-decoration: underline;
	color: #003e50;
}

img {
	height: auto;
	max-width: 100%;
	border: 0;
}

#header {
	margin-bottom: 3em;
	padding: 40px 0;
	background: url(../img/poly.png) no-repeat 50% 20%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
}

#logo {
	display: block;
	line-height: 0;
	margin: 0;
}

#logo img {
	display: block;
	max-height: 21px;
	width: auto;
	line-height: 0;
	margin: 0 auto;
}

[role="main"] {
	display: block;
	margin: 0 1em 3em 1em;
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
}

.posts li {
	margin: 3em 0;
}

.posts a {
	line-height: 1.3;
	font-size: 1.2em;
	color: #333;
}

.posts a:hover {
	text-decoration: underline;
}

.meta {
	margin-top: 5px;
	color: #9eabb3;
	font-size: .9em;
}

.meta a {
	border-bottom: 1px dotted #9eabb3;
	color: #9eabb3;
}

article h1, h2, h3, h4, h5 {
	line-height: 1.3;
	margin: 2.4em 0 .5em;
	color: #222;
}

article h1 {
	margin: 0;
	font-size: 1.8em;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #f8f8f8;
	border: 1px solid #d9ddda;
	overflow: auto;
	padding: .6em 1em;
	border-radius: 3px;
}

code {
	font-size: 92%;
	font-family: Consolas,'Liberation Mono',Courier,monospace;
}

p > code,
li > code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	white-space: nowrap;
}

figure {
	margin: 2em 0;
	padding-left: 20px;
	border-left: 1px solid #d9ddda;
	font-size: 87%;
}

figure > blockquote {
	margin: 0;
}

cite {
	font-style: normal;
}

figcaption {
	color: #aba9a4;
}

.entry {
	margin: 2.4em 0;
}

.entry a {
	text-decoration: underline;
}

.entry ul {
	padding-left: 20px;
}

.entry ul ul {
	margin-bottom: 1em;
}

.pager {
	overflow: hidden;
	padding: 0;
	list-style: none;
}

.pager a {
	display: inline-block;
	line-height: 1;
	padding: 7px 10px;
	border: 1px solid #0886ce;
	border-radius: 4px;
}

.pager .newer {
	float: right;
}

.pager .older {
	float: left;
}

.post-pager {
	margin-bottom: 9em;
	padding-top: 2em;
	padding-left: 20px;
	border-top: 1px dotted #ccc;
}

.share ul {
	padding: 0;
}

.share li {
	display: inline-block;
	margin-right: 1em;
}

@media screen and (min-width: 481px) {
	#header {
		padding: 100px 0;
	}

	#logo img {
		max-height: 31px;
	}

	[role="main"] {
		margin-right: 2em;
		margin-left: 2em;
	}

	figure {
		padding-left: 40px;
	}

	.entry ul {
		padding-left: 40px;
	}
}

@media screen and (min-width: 769px) {
	[role="main"] {
		width: 80%;
		max-width: 640px;
		margin-right: auto;
		margin-left: auto;
	}
}