	<article>
		<header>
			<h1>About</h1>
		</header>
		<div class="entry">
			<h2>Profile</h2>
			<ul>
				<li>name: Haruki Konishi</li>
				<li>handle: konitter</li>
				<li>job: Web director</li>
				<li>house: Osaka</li>
			</ul>
			<h2>Contact</h2>
			<ul>
				<li><a href="https://facebook.com/konitter" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/konitter" target="_blank">Twitter</a></li>
			</ul>
		</div>
	</article>