---
pageable: true
per_page: 10
---
ul.posts
	- page_articles.each_with_index do |article, i|
		li
			== link_to article.title, article
			.meta
				== time_tag article.date
- if paginate
	ul.pager
		li.newer
			- if prev_page
				== link_to 'Newer &raquo;', prev_page
		- if num_pages > 1
			li.older
				- if next_page
					== link_to '&laquo; Older', next_page
