/**
@prefix : <http://purl.org/net/ns/doas#> .
<http://hoge.com/hoge.css> a :CSSstylesheet;
 :shortdesc "base.css";
 :created "2010-03-11";
 :release [:revision "0.1"; :created "2009-12-13"];
 :author [:name "Yusuke. Nakanishi"; :homepage <http://hoge.com/> ];
 :license <http://creativecommons.org/licenses/GPL/2.0/>;
 :dependencies "none" .
*/

/*----------------------------------------------------
	Base
----------------------------------------------------*/
body {
    background: #222;
}
section {
    overflow: auto;
    margin: 0 auto;
    padding: 30px;
}
div#title {
    padding: 30px;
    background: #fff;
}
div#title h1 {
    float: left;
    margin-top: 7px;
    color: #222;
    font-size: 189%;
}
div#title ul#menu {
    float: right;
    margin-right: -5px;
}
div#title ul#menu li {
    float: left;
    margin-right: 5px;
}
div#title ul#menu li:hover {
    cursor: pointer;
}
h2 {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 2em;
    line-height: 1.3;
    border-left: 7px solid #fff;
}
section.cover h2 {
    margin: 150px 0 10px;
    padding: 0;
    border: none;
    font-size: 2.5em;
    text-align: center;
}
section.cover p {
    text-align: center;
    font-size: 1.5em;
}
section.cover p span {
    font-size: 0.75em;
}
div#content p,
div#content dl {
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.8;
}
div#content dt {
    font-weight: bold;
}
div#content ul {
    margin: 0 0 20px 25px;
    line-height: 1.8;
}
div#content ul li {
    list-style: disc;
    font-size: 1.5em;
}
div#content ul ul li,
div#content ol ul li {
    list-style: circle;
    font-size: 100%;
}
div#content ol {
    margin: 0 0 20px 35px;
    line-height: 1.8;
}
div#content ol li {
    list-style: decimal;
    font-size: 153.9%;
}
div#content ul ol li,
div#content ol ol li {
    list-style: lower-alpha;
    font-size: 100%;
}
div#content table {
    margin-bottom: 20px;
    font-size: 153.9%;
    border-top: 2px solid #2b2b2b;
    border-left: 2px solid #2b2b2b;
}
div#content table th {
    padding: 5px 20px;
    border-right: 2px solid #2b2b2b;
    border-bottom: 2px solid #2b2b2b;
    background: #eae5e3;
}
div#content table td {
    padding: 5px 20px;
    border-right: 2px solid #2b2b2b;
    border-bottom: 2px solid #2b2b2b;
    background: #fff;
}
div#content pre {
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid white;
	background: #333;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word; /* IE 5.5+ */
}
div#content code {
  font-family: 'VL ÉSÉVÉbÉN',monospace;
	line-height: 1.5;
}
div#content blockquote {
	margin-bottom: 20px;
	padding: 40px;
	border: 1px solid white;
	background: #333;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
div#content blockquote p {
  line-height: 1.4em;
  font-size: 2.5em;
}
div#content blockquote p:first-child {
	margin-bottom: 30px;
}
div#content blockquote p:last-child {
	margin-bottom: 0;
}
div#content strong {
    margin: 0 5px;
    color: #0095d9;
    font-size: 138.5%;
    font-weight: bold;
    text-shadow: 2px 2px 1px #fff;
}
ol#listmenu {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 350px;
    padding: 10px;
    border: 1px solid #2b2b2b;
    background: #fff;
    color: #222;
}
ol#listmenu li {
    float: none;
    display: block;
    width: 330px;
    padding: 5px;
    font-size: 100%;
    cursor: pointer;
    border-bottom: 1px solid #eae5e3;
}
ol#listmenu li:hover {
    background: #eae5e3;
}
p#pageNumber {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 100%;
    color: #fff;
}
address {
    font-size: 100%;
    color: #fff;
}

/*----------------------------------------------------
    clearfix
----------------------------------------------------*/ 
.clearfix:after,
div#title:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
 
/* IE6
-------------------------------------------------- */
* html .clearfix,
* html div#title {
    zoom: 1;
}
 
/* IE7
-------------------------------------------------- */
*:first-child+html .clearfix,
*:first-child+html div#title {
    zoom: 1;
}